<section id="pages" class="mt-5 bg-light text-muted">
    <div class="container py-5">
        <div class="card">
            <div class="card-body">
                <div class="col-lg-8">
                    <h2 class="card-title align-self-start">{{staff.firstName}} {{staff.lastName}}
                        <span class="display-h5">- Staff Profile</span>
                    </h2>
                    <em>- {{staff.position.designation}} </em>
                    <em> {{staff.department}} </em>
                </div>
                <div class="col-lg-4">
                    <img src="../../public/img/user.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <form action="/staff/edit-profile/{{staff.id}}?_method=PUT" method="post" class="col s12">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-row mt-4">
                <div class="col-sm-4 pb-3">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" placeholder="First name" name="firstname" value="{{staff.firstName}}">
                </div>
                <div class="col-sm-4 pb-3">
                    <label for="middlename">Middle Name</label>
                    <input type="text" class="form-control" placeholder="Middle name" name="middlename" value="{{staff.middleName}}">
                </div>
                <div class="col-sm-4 pb-3">
                    <label for="middlename">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last name" name="lastname" value="{{staff.lastName}}">
                </div>
            </div>

            <div class="form-row mt-4">
                <div class="col-sm-6 pb-3">
                    <input type="email" class="form-control" placeholder="Email" name="email" value="{{staff.email}}">
                </div>
                <div class="col-sm-6 pb-3">
                    <input type="text" class="form-control" placeholder="Phone Number" name="phonenumber" value="{{staff.phoneNumber}}">
                </div>

            </div>

            <p> Home Address</p>
            <div class="form-row mt-4">

                <div class="col-sm-12 col-lg-7 pb-3">
                    <input type="text" name="homeAddress1" id="" class="form-control" value="{{staff.homeAddress.[0].street}}" placeholder="Street Address">
                </div>
                <div class="col-sm-6 col-lg-3 pb-3">
                    <input type="text" name="homeAddress2" id="" class="form-control" value="{{staff.homeAddress.[0].town}}" placeholder="Town">
                </div>
                <div class="col-sm-6 col-lg-2 pb-3">
                    <input type="text" name="homeAddress3" id="" class="form-control" value="{{staff.homeAddress.[0].state}}" placeholder="State">
                </div>
            </div>

            <p class="display-h1"> Relations</p>
            <div class="form-row mt-4">

                <div class="col-sm-12 col-lg-7 pb-3">

                    <select name="maritalstatus" class="form-control">

                        <option value="{{staff.relations.[0].maritalstatus}}" selected>{{staff.relations.[0].maritalstatus}}</option>
                        <option value="Married">Married</option>
                        <option value="Single">Single</option>
                        <option value="Divorced">Divorced</option>
                    </select>

                </div>

                <div class="col-sm-6 col-lg-3 pb-3">
                    <input type="text" name="nextofkin" id="" class="form-control" value="{{staff.relations.[0].nextOfKin}}" placeholder="Next of Kin">
                </div>
                <div class="col-sm-6 col-lg-2 pb-3">
                    <input type="number" name="childrennumber" id="" class="form-control" value="{{staff.relations.[0].childrenNumber}}" placeholder="No. of Children">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg float-right">Save Changes</button>
        </form>
    </div>
</section>